<mat-toolbar color="primary" class="fixed-header" *ngIf="isLoginPage()">
  <mat-toolbar-row>
    <span><img src="./assets/logo.png" href="/" style="width:50px;"></span>
    
    <a mat-button routerLink="/trading" routerLinkActive="active" >Trading</a>
    <a mat-button routerLink="/option-chain" >Option Chain</a>
    <a mat-button routerLink="/transactions" >Transactions</a>
    <a mat-button routerLink="/setting">Settings</a>
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <router-outlet style="margin-top: 80px;"></router-outlet>
</main>
