<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <span><img src="./assets/logo.png" style="width:50px;"></span>
    
    <a mat-button routerLink="/customer-create" routerLinkActive="active" >Trading</a>
    <a mat-button routerLink="/customer-create" routerLinkActive="active" >Option Chain</a>
    <a mat-button routerLink="/customer-list" >Transactions</a>
    <a mat-button routerLink="/login">Settings</a>

    
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <router-outlet style="margin-top: 80px;"></router-outlet>
</main>
